doctype html
html(lang="en")
  head
    title= Home
    link(rel="stylesheet", href="stylesheets/bootstrap.css", type="text/css")
    link(rel="stylesheet", href="stylesheets/style.css", type="text/css")
  body
    div(class="header")
        a(href='http://why.com')
            div(class="logout header-button")
                span Logout
    div(class="body")
      div(class="container")
    script(src="js/jquery.js", type="text/javascript")
    script(src="js/javaScript.js", type="text/javascript")
