doctype html
html(lang="en")
  head
    include ./templates/header.jade
    include ./templates/globalVar.jade
  body(class= bgColor)
    include ./templates/scripts
    script(type="text/javascript" src="js/homePage.js")
    include ./templates/playerNav

    //body
    div(class="row")
      //base classes for cards
      - var card1 = ['blue-grey', 'white-text', 'darken-1']
      - var card2 = ['cyan', 'white-text', 'darken-4']
      //column 1
      div(class="col s12 m3 l3")

        // Card 1 Timer
        div(class="card" class = card1)
          div(class="card-content")
            span(class="card-title") Timer until Sunday
            p
            iframe(src="http://free.timeanddate.com/countdown/i582ccqa/n179/cf12/cm0/cu4/ct3/cs1/ca2/cr1/ss0/cac000/cpc000/pct/tcfff/fs100/szw320/szh135/tatTime%20left%20to%20kill/tac000/tptTime%20since%20Event%20started%20in/tpc000/matyour%20target/mac000/mpc000/iso2016-06-06T00:00:00" allowTransparency="true" frameborder="0" width="135" height="69")

        // Card2 Current Target
        div(class="card" class = card2)
          div(class="card-content")
            span(class="card-title", id="mytarget") Current Target

      //column 2
      div(class="col s12 m3 l3")

        //kill button
        a(href="/kill" style="color: white")
          button(class="waves-effect waves-light btn-large card red" style="height: 512px; width: 100%;") Record a Kill

      //column 3
      div(class="col s12 m3 l3")

        //chat button
          div(class="card blue darken-2 white-text")
            div(class="card-content")
              span(class="card-title") Chat


    script(type="text/javascript" src="js/home.js")
