doctype html
html(lang='en')
	head
		include ./templates/header.jade
	body(class="blue-grey darken-3")     
		div.container
			h1.center Log In
			- if(pageData.failed)
				p.center (Your username or password may be incorrect)
			form(action = "/loggingin" method = "get")
				p Username: 
				input(type = "text" name = "user")
				p Password: 
				input(type = "password" name = "pass")
				p 
				input(type = "submit" value = "Log In" class="blue-grey")
