doctype html
html(lang='en')
  head
    title Log In
  link(rel='stylesheet', href='stylesheets/bootstrap.css', type='text/css')
  link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
  body
    h1 Log In
    form(action = "/welcomehome" method = "get")
      p Username: 
      input(type = "text" name = "user")
      p Password: 
      input(type = "password" name = "pass")
      p 
      input(type = "submit" value = "Log In")
    