doctype html
html(lang='en')
  head
    title
    link(rel='stylesheet', href='stylesheets/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
  body
    p Welcome to Assassins @ Horace Greeley High School! 
    p Already have an account? Are you an assassin or a god? 
    a(href='http://localhost:6001/targit')
      button I'm an Assassin
    a(href='http://localhost:6001/goddy')
      button I'm a God
    a(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ')
      button Sign Up
    button Create A Game