doctype html
html(lang='en')
  head
    include ./templates/header.jade
    include ./templates/globalVar.jade
    script(type="text/javascript" src="js/materializeUpdate.js")
  body(class= bgColor)     
    include ./templates/scripts.jade
    div.container
      h1.center Log In
      - if(pageData.error == 'Invalid username or password.')
        p.center (Your username or password may be incorrect)
      -if(pageData.error == 'something failed')
        p.center (Something broke, not sure why...)
      form(action = "/loggingin" method = "get")
        div(class="input-field col s12")
          input( id="username" type = "text" name = "user")
          label(for="username" class = "active") Username
        div(class="input-field col s12")
          input( id="password" type = "password" name = "pass") 
          label(for="password" class="active") Password
        button(type = "submit" name = "action" class="btn waves-effect waves-light blue-grey white-text") Log in
          i(class = "material-icons right") send
