doctype html
html(lang="en")
	head
		include ./templates/header.jade
		include ./templates/globalVar.jade
	body(class= bgColor)
		include ./templates/scripts.jade
		include ./templates/godNav.jade

		form()
			select(id="p1")
			select(id="p2")
			p
			input(type="text" id="teamname")
			p
			input(type="submit" value="Create Team")

