doctype html
html(lang="en")
  head
    include ./templates/header.jade
    include ./templates/globalVar.jade
  body(class = bgColor)
    include ./templates/scripts.jade
    script(type="text/javascript" src="js/pendingKill.js")
    include ./templates/godNav.jade
    //body
    div(class="row" id='body')
