doctype html
html(lang='en')
  head
    title Sign Up
    //link(rel='stylesheet', href='stylesheets/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
  
    //Import Google Icon Font
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    //Import materialize.css
    link(type="text/css", rel="stylesheet", href="stylesheets/materialize.min.css",  media="screen,projection")
  
    //Let browser know website is optimized for mobile
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body(class="blue-grey darken-3")
  
    h1.center Sign Up
    form(action = "/home")
      p First Name:
      input(type = "text" name = "first")
      p Last Name:
      input(type = "text" name = "last")
      p Username: 
      input(type = "text" name = "user")
      p Password: 
      input(type = "password" name = "pass")
      p Re-Enter Password: 
      input(type = "password" name = "pass2")
      p Organization Code
      input(type = "text" name = "org")
      p 
      input(type = "submit" value = "Sign Up" class="blue-grey")
    
