doctype html
html(lang='en')
  head
    include ./templates/header.jade
    include ./templates/globalVar.jade
  body(class= bgColor)
    include ./templates/scripts.jade
    h1.center Sign Up
    - if(pageData.failed)
      p.center (Your username may already be taken or your password confirmation may have failed)
    .row
      form(action = "/signingup")
        div(class="input-field col s12 m6 l6")
          input(id = "firstName" type = "text" name = "first")
          label(for = "firstName" class = "active") First Name
        div(class ="input-field col s12 m6 l6")
          input(id = "lastName" type = "text" name = "last")
          label(for = "lastName" class = "active") Last Name
        div(class ="input-field col s12")
          input(id = "username" type = "text" name = "user")
          label(for = "username" class = "active") Username
        div(class ="input-field col s12 m6 l6")
          input(id = "password" type = "password" name = "pass")
          label(for = "password" class = "active") Password
        div(class = "input-field col s12 m6 l6") 
          input(id = "rePassword" type = "password" name = "pass2")
          label(for = "rePassword" class = "active") Re-Enter Password
        div(class = "input-field col s12") 
          input(id = "orgCode" type = "text" name = "org")
          label(for = "orgCode" class = "active") Organization Code
        div(class = "col s12")
          button(type = "submit" name = "action" class="btn waves-effect waves-light white-text") Sign up
            i(class = "material-icons right") send
