doctype html
html(lang="en")
  head
    title ASSASSINS
    
    link(rel="stylesheet", href="stylesheets/bootstrap.css", type="text/css")
    link(rel="stylesheet", href="stylesheets/gods.css", type="text/css")
    
  body
    h1#header My Info
    table#target_table
      tr
        th.table-header  First 
        th.table-header  Last 
        th.table-header  Target 
        th.table-header  Time Left 
    script(src='js/jquery.js', type='text/javascript')
    script(src='js/targetlist.js', type='text/javascript')
    
