doctype html
html(lang="en")
	head
		include ./templates/header.jade
		include ./templates/globalVar.jade
	body(class= bgColor)
		h1#header My Info
		table#target_table
			tr
				th.table-header  Name
				th.table-header  Target 
				th.table-header  Time Left 
		script(src='js/jquery.js', type='text/javascript')
		script(src='js/targetlist.js', type='text/javascript')
