doctype html
html(lang="en")
  head
  body(class= bgColor)
    form
      select 
        option(value="" disabled selected) Choose
        option(value="1") Option 1
        option(value="2") Option 2
        option(value="3") Option 3
      label Materialize Select
