doctype html
html(lang='en')
  head
  include ./templates/header.jade
  include ./templates/globalVar.jade
  body(class= bgColor)
    div.container
      div.row
        //for comp view, this allows different views based on device
        div(class="col s12 m6 hide-on-med-and-down")
          mixin list
            h1 Welcome to Assassins!
            a(class="btn btn-default white-text", href="/login") Log In
            p Don't have an account?
            a(class="btn btn-default white-text", href="/signup") Sign Up
            p Don't have a game set up?
            a(class="btn btn-default white-text", href="/create") Create A New Game  
          +list
        //for mobile view  
        div(class="col s12 m6 hide-on-large-only center")
          +list
