doctype html
html(lang='en')
  head
  include ./templates/header.jade
  include ./templates/globalVar.jade
  body(class= bgColor)
    div.container
      div.row
        //for comp view, this allows different views based on device
        div(class="col s12 m6 hide-on-med-and-down")
          h1 Welcome to Assassins!
          a(class="btn btn-default", href="/login") Log In
          p Don't have an account?
          a(class="btn btn-default", href="/signup") Sign Up
          p Don't have a game set up?
          a(class="btn btn-default", href="/create") Create A New Game  
      
        //for mobile view  
        div(class="col s12 m6 hide-on-med-and-up center")
          h1 Welcome to Assassins!
          a(class="btn btn-default", href="/login") Log In
          p Don't have an account?
          a(class="btn btn-default", href="/signup") Sign Up
          p Don't have a game set up?
          a(class="btn btn-default", href="/create") Create A New Game
      
     
        
