doctype html
html(lang='en')
    head
        title
    link(rel='stylesheet', href='stylesheets/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
    body
        h1 Welcome to Assassins!
        a(class="btn btn-default", href="/login") Log In
        p Don't have an account?
        a(class="btn btn-default", href="/signup") Sign Up
        p Don't have a game set up?
        a(class="btn btn-default", href="/create") Create A New Game
     
        